<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>RentACars</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to RentACars' Manager
		</h2>
		<br/>
		<h3>Create RentACar</h3>
		<p class="text-danger" th:text="${error}"></p>
		<form class="form-inline" th:action="@{/rentACars}" th:object="${rentACar}" method="post">
			<label>Code: </label> <input class="form-control" type="text" th:field="*{code}" />
			<label>Name: </label> <input class="form-control" type="text" th:field="*{name}" />
			<label>NIF: </label> <input class="form-control" type="text" th:field="*{nif}" />
			<label>IBAN: </label> <input class="form-control" type="text" th:field="*{iban}" />
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of RentACars</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>NIF</th>
					<th>IBAN</th>
 					<th>Vehicles</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rentACar: ${rentACars}">
					<td th:text="${rentACar.code}"></td>
					<td th:text="${rentACar.name}"></td>
					<td th:text="${rentACar.nif}"></td>
					<td th:text="${rentACar.iban}"></td>
				 	<td><a th:href="@{/rentACars/{code}/vehicles(code=${rentACar.code})}">Vehicles</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>