# Created by 
# /usr/bin/cfgmaker --ifref=ip --global "WorkDir: /var/www" private@10.20.66.2 --output=mrtgSCADA.cfg


### Global Config Options

#  for UNIX
# WorkDir: /home/http/mrtg

#  for Debian
WorkDir: /var/www/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6: no
WorkDir: /var/www

######################################################################
# System: Router_SCADA
# Description: Linux Router_SCADA 2.6.26.5-netkit-K2.8 #1 Thu Nov 26 15:37:25 CET 2009 i686
# Contact: Root <root@localhost> (configure /etc/snmp/snmpd.local.conf)
# Location: Unknown (configure /etc/snmp/snmpd.local.conf)
######################################################################


### Interface 1 >> Descr: 'lo' | Name: 'lo' | Ip: '127.0.0.1' | Eth: '' ###
### The following interface is commented out because:
### * it is a Software Loopback interface
# 
# Target[10.20.66.2_127.0.0.1]: /127.0.0.1:private@10.20.66.2:
# SetEnv[10.20.66.2_127.0.0.1]: MRTG_INT_IP="127.0.0.1" MRTG_INT_DESCR="lo"
# MaxBytes[10.20.66.2_127.0.0.1]: 1250000
# Title[10.20.66.2_127.0.0.1]: Traffic Analysis for 127.0.0.1 -- Router_SCADA
# PageTop[10.20.66.2_127.0.0.1]: <h1>Traffic Analysis for 127.0.0.1 -- Router_SCADA</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>Router_SCADA in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>lo  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>softwareLoopback (24)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>lo</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>1250.0 kBytes/s</td>
# 				</tr>
# 				<tr>
# 					<td>Ip:</td>
# 					<td>127.0.0.1 (PCadmin_Corporate)</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 2 >> Descr: 'teql0' | Name: 'teql0' | Ip: '' | Eth: '' ###
### The following interface is commented out because:
### * it is administratively DOWN
### * it is operationally DOWN
### * has a speed of 0 which makes no sense
### * --ifref=ip is not unique for this interface
# 
# Target[10.20.66.2_2]: 2:private@10.20.66.2:
# SetEnv[10.20.66.2_2]: MRTG_INT_IP="" MRTG_INT_DESCR="teql0"
# MaxBytes[10.20.66.2_2]: 0
# Title[10.20.66.2_2]: Traffic Analysis for 2 -- Router_SCADA
# PageTop[10.20.66.2_2]: <h1>Traffic Analysis for 2 -- Router_SCADA</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>Router_SCADA in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>teql0  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>Other (1)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>teql0</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>0.0 Bytes/s</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 3 >> Descr: 'eth0' | Name: 'eth0' | Ip: '10.20.66.2' | Eth: 'ee-6c-6c-44-4a-e9' ###

Target[10.20.66.2_10.20.66.2]: /10.20.66.2:private@10.20.66.2:
SetEnv[10.20.66.2_10.20.66.2]: MRTG_INT_IP="10.20.66.2" MRTG_INT_DESCR="eth0"
MaxBytes[10.20.66.2_10.20.66.2]: 1250000
Title[10.20.66.2_10.20.66.2]: Traffic Analysis for 10.20.66.2 -- Router_SCADA
PageTop[10.20.66.2_10.20.66.2]: <h1>Traffic Analysis for 10.20.66.2 -- Router_SCADA</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>Router_SCADA in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>eth0  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>eth0</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>1250.0 kBytes/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>10.20.66.2 ()</td>
				</tr>
			</table>
		</div>


### Interface 4 >> Descr: 'eth1' | Name: 'eth1' | Ip: '10.20.67.1' | Eth: '5e-56-de-bd-c9-51' ###

Target[10.20.66.2_10.20.67.1]: /10.20.67.1:private@10.20.66.2:
SetEnv[10.20.66.2_10.20.67.1]: MRTG_INT_IP="10.20.67.1" MRTG_INT_DESCR="eth1"
MaxBytes[10.20.66.2_10.20.67.1]: 1250000
Title[10.20.66.2_10.20.67.1]: Traffic Analysis for 10.20.67.1 -- Router_SCADA
PageTop[10.20.66.2_10.20.67.1]: <h1>Traffic Analysis for 10.20.67.1 -- Router_SCADA</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>Router_SCADA in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>eth1  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>eth1</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>1250.0 kBytes/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>10.20.67.1 ()</td>
				</tr>
			</table>
		</div>


### Interface 5 >> Descr: 'eth2' | Name: 'eth2' | Ip: '10.20.67.129' | Eth: '7a-c5-eb-77-5a-5b' ###

Target[10.20.66.2_10.20.67.129]: /10.20.67.129:private@10.20.66.2:
SetEnv[10.20.66.2_10.20.67.129]: MRTG_INT_IP="10.20.67.129" MRTG_INT_DESCR="eth2"
MaxBytes[10.20.66.2_10.20.67.129]: 1250000
Title[10.20.66.2_10.20.67.129]: Traffic Analysis for 10.20.67.129 -- Router_SCADA
PageTop[10.20.66.2_10.20.67.129]: <h1>Traffic Analysis for 10.20.67.129 -- Router_SCADA</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>Router_SCADA in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>eth2  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>eth2</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>1250.0 kBytes/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>10.20.67.129 ()</td>
				</tr>
			</table>
		</div>


